@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 /* font-family: "Work Sans", sans-serif; */

 *{
    margin: 0;
    padding: 0;

 }
 .btn-continer{
   text-align: center;
 }
 .btn{
   padding: 18px 27px;
   color: white;
   font-family: work sans;
   font-size: 20px;
   line-height: ;
   text-align: center;
   background-color: rgba(82, 195, 3, 1);
   border-radius: 8px;
   border: none;
   cursor: pointer;

 }
 /* banner start */
 #hero{
    /* background-image: url(../assets/hero-bg.png) ; */
    background:linear-gradient(360deg, rgba(9, 9, 9, 1) ,rgba(16, 16, 16, 0)), url(../assets/hero-bg.png) ;
    height: 772px;
    width: 1612;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 #hero .hero-content{
    width: 860px;
    /* margin-right: auto;
    margin-right: auto;
    background-color: tomato; */
     /* border: 1px solid red; */
 }
 #hero .hero-content .subtitle{
    opacity: 0.8;
    line-height: 25px;
    font-family: Work sans;
    color: white;
    text-align: center;
    font-weight: 600px;
    font-size: 32px;
    letter-spacing: 0%;
    margin-bottom: 16px;
 }
  #hero .hero-content .title{
    opacity:100% ;
    font-family: work sans;
    font-size: 48px;
    font-weight: 700px;
    line-height:65px;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    margin-bottom: 21px;
  }
  #hero .hero-content .description{
    opacity: 70%;
    font-family: work sans;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 32px;
  }
  /* banner end  */
 
  /* card box start  */
  #card-box{
    /* border: 1px solid red; */
    width: 1320px;
    margin: 78px auto;
  } 
  #card-box .subtitle{
    opacity: .60;
    font-family: work sans;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  #card-box .title{
    opacity: 1;
    font-family: work sans;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
    margin-bottom: 40px;
  }
  .card-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-family: work sans;
  }
  .card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

  }
  .card .image-box{
    width: 400px;
  }
  .card .image-box img{
    width: 100%;
  }
  .card .shop{
    background-color: aqua;
    padding: 14px 22px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    width: 130px;
    text-align: center;
  }
  .card p{
    text-align: center;
  }
.card .shop span{
  font-size: 18px;
}
/* card box end  */

/* about us  start */
#about-us{
  width: 100%;
  margin: auto;
}
#about-us .about{
  display: flex;
  justify-content: center;
}
#about-us .image-box{
  max-width: 806px;

}
#about-us .image-box{
  width: 806px;
}
#about-us .image-box img{
  width: 100%;
  
}
#about-us .text-box{
  width: 806px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: work sans;
 
}
#about-us .text-box .title{
  text-align: center;
  font-size:48px;
  
}
#about-us .text-box .description{
  opacity: 0.6;
  font-size: 28px;

}
#about-us .text-box .subtitle{
  width: 100%;
  opacity: .7;
  font-size: 32px;
  border: 1px solid rgba(0, 0, 0, 0.309);
  text-align: center;
  padding: 30px;
  margin-left: 32px;
  padding-left: 0px;
}
.text-box .icon img{
  width: 40px;
  height: 40px;
  padding: 10px;
}